code {
  background-color: #ddd;
}
.contentWrap {
  padding: 2em;
}
.content {
  width: 650px;
  margin: 0 auto;
  min-height: 1250px;
  line-height: 1.5em;
}
h1 {
  font-size: 2em;
  line-height: 2em;
}

/*** Styles for the main header ***/
	#main {
	  background-color: #eee;
	  position: relative;
	  z-index: 1001;
	}
  ul.nav {
    padding-left: 0;
  }
	ul.nav {
	  width: 650px;
	  margin: 0 auto;
	  overflow: hidden;
	}
	ul.nav li {
	  float: left;
	  list-style: none;
	  margin: .5em .5em .5em 0;
	  padding: .5em .5em .5em 0;
	  font-size: 1.5em;
	}
	ul.nav li a {
	  text-decoration: none;
	  color: #ccc;
	}
	ul.nav li a:hover {
	  color: #3b5998;
	  transition: color 400ms ease-out;
	}
	
/*** Styles for the sticky header ***/
  #stickyContent {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #3b5998;
  }
  #stickyContent ul.nav li {
    font-size: 1em;
  }
  #stickyContent ul.nav a {
    color: #fff;
  }
  #stickyContent ul.nav .text{
    display: none;
  }
  .error{
	color: red;
}